<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWin81" version="9.0.0.5" targetFramework="win81" />
  <package id="Microsoft.AdMediator.Windows81.AdDuplex" version="2.0.1" targetFramework="win81" />
  <package id="Microsoft.AdMediator.Windows81.Smaato" version="2.0.1" targetFramework="win81" />
  <package id="SOMAW81_Package" version="1.5.1" targetFramework="win81" />
</packages>